@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
body {
  font-family: 'Padauk', sans-serif;
}
.navbar {
  font-size: 1.2rem !important;
}
#navbarNav ul li a:hover {
  cursor: pointer !important;
}
/* mobile screen */
@media (max-width: 599px) {
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(15, 6, 13, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634052147/rxx/banner-mobile_1_tognk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 12rem 4rem;
  }
  .banner-heading h1 {
    font-weight: bold;
  }
  .banner-heading h3 {
    font-weight: 580;
  }
  .contact-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

}
/* tablet screen */
@media only screen and (min-width: 600px) {
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(15, 6, 13, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634049623/rxx/banner_rzgrjs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 10rem 10rem;
  }
  .banner-heading h1 {
    font-weight: bold;
  }
  .banner-heading h3 {
    font-weight: 580;
  }
  .contact-btn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
/* for desktop screen.*/
@media only screen and (min-width: 768px){
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(15, 6, 13, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634049623/rxx/banner_rzgrjs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 15rem 10rem;
  }
  .banner-heading h1 {
    font-weight: bold;
  }
  .banner-heading h3 {
    font-weight: 580;
  }
  .contact-btn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

}
