@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
body {
  font-family: 'Padauk', sans-serif;
}
.navbar {
  font-size: 1.2rem !important;
}
#navbarNav ul li a:hover {
  cursor: pointer !important;
}
/* mobile screen */
@media (max-width: 599px) {
  /* banner section. */
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(15, 6, 13, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634052147/rxx/banner-mobile_1_tognk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 8rem 4rem;
  }
  .banner-heading h1 {
    font-weight: bold;
    font-size: 1.8rem;
  }
  .banner-heading h3 {
    font-weight: 580;
    font-size: 1.25rem;
  }
  .contact-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  /* services offered. */
  #services h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
}
/* tablet screen */
@media only screen and (min-width: 600px) {
  /* banner */
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(15, 6, 13, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634055651/rxx/banner-final_1_gchg2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 10rem 5rem;
  }
  .banner-heading h1 {
    font-weight: bold;
  }
  .banner-heading h3 {
    font-weight: 580;
  }
  .contact-btn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  /* services section. */
  .container h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .services-lg {
    display: block;
  }

}
/* for desktop screen.*/
@media only screen and (min-width: 768px){
  .banner {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.20), rgba(0, 0, 0, 0.85)),url("https://res.cloudinary.com/rokuirie/image/upload/v1634055651/rxx/banner-final_1_gchg2f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    color: whitesmoke;
  }
  .banner-heading {
    text-align: center;
    padding: 15rem 10rem;
  }
  .banner-heading h1 {
    font-weight: bold;
  }
  .banner-heading h3 {
    font-weight: 580;
  }
  .contact-btn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .contact-btn:hover {
    border: 2px solid whitesmoke;
  }
  /* services section. */
  .services-small {
    display: none;
  }
  .container h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }
  .services-lg {
    height: 100vh;
  }
  .services-lg .card-group .card {
    margin-right: 1rem;
    border: 2px solid rgb(199, 198, 198);
    border-radius: 3px;
  }

}
